@import "abstract/fluid";
@import "abstract/unit";
@import '../../../node_modules/sweetalert2/src/sweetalert2.scss';

// Reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-weight: normal;
}
html {
  scroll-behavior: smooth;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: #F0F0F2;
  background: #363636;
	text-align: center;
  overflow-x: hidden;
}
img {
	max-width: 100%;
	display: block;
}
p {
  font-size: rem(20);
}

.hover:hover {
  text-decoration: none;
  opacity: .9;
  transition: .2s;

  &:active {
   opacity: 1;
  }
}
::-webkit-scrollbar {
  background: #2c2c2d;
}
::-webkit-scrollbar-thumb {
  background: #7e7e7f;
}

// Header

.header {
  width: 100%;
  height: clamp(rem(60), calc(109 / 1200 * 100vw), rem(109));
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: rem(18);
    text-transform: uppercase;
    margin-left: clamp(rem(30), calc(50 / 1200 * 100vw), rem(50));
  }
}

// Hero

.hero {
  position: relative;

  a {
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.hero-section {
  width: 100%;
  background: url(../img/bg-hero.png);
  position: relative;
  overflow: hidden;
}
.hero-content {
  background: url(../img/imagem-card.svg) center no-repeat;
  box-shadow: 0px 3px 6px #00000099;
  max-width: 586px;
  margin: 0 auto;
  padding-bottom: rem(22);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  @media (min-width: 586px) {
    overflow: visible;
  }

  h2 {
    font-size: rem(15);
    font-weight: bold;
    align-self: flex-start;
    margin-top: rem(15);
    margin-bottom: rem(15);
    margin-left: clamp(rem(15), calc(30 / 1200 * 100vw), rem(30));
  }
  img {
    max-width: 132%;
    @media (min-width: 586px) {
      max-width: initial;
    }
  }
  p {
    font-size: clamp(rem(14), calc(20 / 992 * 100vw), rem(20));
    max-width: clamp(rem(200), calc(271 / 992 * 100vw), rem(271));
    margin: rem(24) 0 rem(30);
  }
}

// Carousel

.embla {
  position: relative;
  max-width: 1460px;
  margin: clamp(rem(50), calc(100 / 992 * 100vw), rem(100)) auto clamp(rem(90), calc(180 / 992 * 100vw), rem(180));
}

.embla-viewport {
  overflow: hidden;
  width: 100%;
  padding-top: 150px;
}

.embla-viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla-viewport.is-dragging {
  cursor: grabbing;
}

.embla-container {
  display: flex;
  align-items: stretch;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.embla-slide {
  position: relative;
  min-width: 100%;
  padding: 20px;

  @media (min-width: 768px) {
  min-width: 50%;
  }
  @media (min-width: 992px) {
  min-width: 50%;
  padding: 20px 50px;
  }
  @media (min-width: 1200px) {
  min-width: 33.33%;
  padding: 20px 50px;
  }

  p {
    color: #363636;
    font-size: clamp(rem(14), calc(20 / 992 * 100vw), rem(20));
  }
}

.embla-slide-inner {
  position: relative;
}
.embla-slide-content {
  min-height: 445px;
  background: #fff;
  box-shadow: 0px 3px 6px #FFFFFF63;
  border-radius: 31px;
  display: flex;
  flex-direction: column;

  p {
    padding: rem(32) rem(36);
    text-align: left;
  }

  @media (min-width: 360px) {
    min-height: 458px;
  }
  @media (min-width: 375px) {
    min-height: 478px;
  }
  @media (min-width: 768px) {
    min-height: 508px;
  }
  @media (min-width: 992px) {
    min-height: 608px;
  }
  @media (min-width: 1200px) {
    min-height: 622px;
  }
}
.embla-slide-img {
  position: relative;
  margin-top: -150px;
  display: flex;
  justify-content: center;

  &:before {
    content:"";
    display: block;
    border: 2px solid #fff;
    border-radius: 70px;
    background: #363636;
    width: 90%;
    height: 80%;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
  }
  img {
    position: relative;
    z-index: 1;
  }
}

.embla-button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #fff;
  padding: 0;
}

.embla-button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla-button-svg {
  width: 100%;
  height: 100%;
}

.embla-button-prev {
  left: 50px;

  @media (min-width: 992px) {
    left: 10px;
  }
  @media (min-width: 1630px) {
    left: -30px;
  }
}

.embla-button-next {
  right: 50px;

  @media (min-width: 992px) {
    right: 10px;
  }
  @media (min-width: 1630px) {
    right: -30px;
  }
}

// Contact

.contact {
  width: 100%;
  background: transparent linear-gradient(143deg, #7DEDE2 0%, #58B790 100%);
  padding: rem(20);
}
.contact-content {
  max-width: 1082px;
  margin: rem(-60) auto;
  padding: rem(30);
  background: #fff;
  box-shadow: 0px 0px 6px #0000004D;
  border-radius: 6px;

  @media (min-width: 768px) {
    padding: rem(82);
  }

  h2 {
    font-family: 'Montserrat';
    font-size: clamp(rem(22), calc(35 / 992 * 100vw), rem(35));
    color: #63C7A9;
    margin-bottom: rem(15);
  }
  p {
    text-align: left;
    color: #363636;
    font-size: clamp(rem(14), calc(20 / 992 * 100vw), rem(20));
    margin: rem(30) auto;
    max-width: 528px;

    @media (min-width: 992px) {
      margin: rem(50) auto;
      max-width: 745px;
    }
  }
  form {
    max-width: 528px;
    margin: 0 auto;
  }
}

fieldset {
  border: 0;
}
%field {
  display: block;
  position: relative;
}
%input {
  width: 100%;
  height: 42px;
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(rem(14), calc(18 / 992 * 100vw), rem(18));
  font-weight: 500;
  color: #363636;
  outline: none;

  @media (min-width: 992px) {
    height: 48px;
  }
}

.field{
  @extend %field;
  margin-bottom: clamp(rem(15), calc(40 / 992 * 100vw), rem(40));

  @media (min-width: 768px) {
    &:nth-child(1),
    &:nth-child(2) {
      float: left;
      width: 50%;
    }
    &:nth-child(1) {
      padding-right: rem(15);
    }
    &:nth-child(2) {
      padding-left: rem(15);
    }
    &:nth-child(3) {
      clear: both;
    }
  }
  &:last-child {
    margin-bottom: 0;

    @media (min-width: 768px) {
      width: 50%;
      padding-right: rem(15);
    }
  }
  > input,
  > textarea {
    @extend %input;
    padding: 15px;
    border: 1px solid #363636;

    &:hover {
      border-color: #363636;
    }

  }
  > textarea {
    display: block;
    height: 160px;

    @media (min-width: 992px) {
      height: 197px;
    }
  }
  > button {
    @extend %input;
    border: 0;
    width: 100%;
    color: #fff;
    background: #63C7A9;
    cursor: pointer;
  }

}

// Footer

.footer {
  height: clamp(rem(210), calc(410 / 1200 * 100vw), rem(410));
  position: relative;
}

.scroll-top {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);

  > .button {
    width: 56px;
    height: 56px;
    background: #f2f3f5;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      width: 106px;
      height: 106px;
    }

    &::after {
      content: "";
      width: 12px;
      height: 12px;
      background: transparent;
      border-top: 2px solid #363636;
      border-left: 2px solid #363636;
      transform: translateY(4px) rotate(45deg);

      @media (min-width: 768px) {
        width: 21px;
        height: 21px;
      }
    }
  }
}
